h1{
    color: blue
}

.imgDiv{
    text-align: center;
}

.main-menu-title{
    text-align: center;
}

.devdocs{
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: auto;
}

.devdocs iframe{
    position: relative;
    width: 100%;
    height: 70vh;
}